@page
@model MyApp.Namespace.EditMatiereModel
@{
}

<div class="container p-3 my-3 bg-success text-white"> <br/><br/>
        <a class="btn btn-primary" href="/Matiere/MatiereList" role="button">Liste des Matieres</a>

  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
          <form method="post">
          <div class="form-group">

            <input type="hidden" asp-for="subject.IdMatiere"/>
             <label asp-for="subject.NomMatiere"  class="control-label"></label><br/>
             <input asp-for="subject.NomMatiere" class="form-control"/>
             <span asp-validation-for="subject.NomMatiere" class="text-danger"></span>

             <select asp-for="subject.IdProf" class="custom-select">
               @foreach (var u in Model.users)
                {
                    @if(u.Status == 'P'){
                      <option value="@u.Id">@u.Nom</option>
                    }
                }
             </select>
  
          </div>
  
          <tr></tr><tr></tr><tr></tr><input class="btn btn-success" type="Submit" value="Enregistrer"/>
  
          </form>
      </div>
    </div>
  </div>
