@page
@model MyApp.Namespace.AddQstModel
@{
}
<div class="container p-3 my-3 bg-gradient-success text-success">
    <h1>Ajouter un Quiz</h1>
  </div>

  <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
          <a class="nav-link" href="/Matiere/MatiereList">List des Quiz</a>
        </nav>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-4">
        @* 1/3 *@
        <div>
            <br><br>
          <img src="/img/qst.jpg" class="img-fluid animated" alt="">
        </div>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row">
          @* <div class="col-6 col-md-4"> *@
              <form method="post">
              <div class="form-group">
                  <br><br>
                @* <label asp-for="matiere.NomMatiere"  class="control-label"></label><br/> *@
               <input type="hidden" asp-for="quiz.IdQuiz">
        
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nom De Quiz</span>
                  </div>
                  <input type="text" class="form-control" asp-for="quiz.NomQuize" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
@*-----------------------------------------------------------------------------------------------------*@
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nom Question</span>
                  </div>
                  <input type="text" class="form-control" asp-for="question.Qst" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Choix 1</span>
                  </div>
                  <input type="text" class="form-control" asp-for="question.Choix1" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Choix 2</span>
                  </div>
                  <input type="text" class="form-control" asp-for="question.Choixe2" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Choix 3</span>
                  </div>
                  <input type="text" class="form-control" asp-for="question.Choix3" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
               <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"> Choix 4</span>
                  </div>
                  <input type="text" class="form-control" asp-for="question.Choixe4" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <select asp-for="question.ChoixeCorrect" class="custom-select">
                          <option value="Choix1">Choix 1</option>
                          <option value="Choixe2">Choix 2</option>
                          <option value="Choix3">Choix 3</option>
                          <option value="Choixe4">Choix 4</option>
                </select>
@*==============================================================================================*@
              </div>
              <br>
              <tr></tr><tr></tr><tr></tr><input class="btn btn-success" type="Submit" value="Ajouter"/>
      
              </form>
          @* </div> *@
        </div>
      </div>
   </div>
   <br><br>