@page
@model MyApp.Namespace.OppsModel
@{
    Layout = "";    
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- TEMPLATE ADDING SOURCES-->
        <!-- Favicons -->
        <link href="/img/favicon.png" rel="icon">
        <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<style>

    body {
 			 background-color: Black;
		}
	main {
		text-align: center;
		color: white;
		}

	

	</style>


</head>

<body>
<br><br>
<br>
<br>
<br>
<br>
<br>

<div>
  </aside>
  <main>
    <h1>Sorry!</h1><br>

    <p>
       <em> No Quiz for this Cours . . . Enjoy</em>
    </p><br>
<br>

     <a asp-page="./Etudiant/MyList" class="btn btn-light" > GO Home </a> 
  </main>
</div>
</body>
</html>